@font-face {
    font-family: 'Rische-Bold';
    src: url('Font/Rische\ Font\ Family/Rische-Bold.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Rische-light';
    src: url('Font/Rische\ Font\ Family/Rische-Light.woff');
    font-weight: 50;
}

@font-face {
    font-family : 'Helvetica-now';
    src: url('Font/helvetica-now-text/HelveticaNowText-ExtraLight.woff');
    font-weight: 50;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Font/Helevetica/Helvetica.ttf');
    font-weight: 70;
}

@font-face {
    font-family: 'Rische-semibold';
    src: url('Font/Rische\ Font\ Family/Rische-Semibold.woff');
    font-weight: 400;
}

.who-we-are-text {
    font-family: 'Helvetica-now', sans-serif;
    font-weight: 50;
    font-size: 25px;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

body{
    background: #0A0908;
    margin: none;
    padding-top: 0;    
}

a {
    color: inherit;
    text-decoration: none;
}

#nav_links {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
    font-family: 'Rische-light', sans-serif;
    font-weight: 50;
    font-size: 28px;
    translate: -25px 0;
    list-style-type: none;
}

li {
    padding-bottom: 50px;
    translate: 0 -50px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 53px;
  /* bottom: -20px; */
  width: 100%;
  height: 2px;
  background-color: #CD9900;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

li:hover::after {
  transform: scaleX(1);
}

.scale_hover {
  display: inline-block;
  transition: transform 0.3s ease;
}

li:hover .scale_hover {
  transform: scale(1.1);
  cursor: pointer;
}

.close-btn {
    scale: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: center;
}

.close-btn:hover {
    transform: scale(1.5);
    color: #CD9900;
}

.nav-bar {
    height: 90px;
    background-color: #0A0908;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFE9E1;
    padding: 10px 20px; 
    margin: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #EFE9E180;
}

.menu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 97px;
    translate: 0 -50%;
    aspect-ratio: 1;
    height: 12px;
    width: 22px;
    scale: 2;
}

.menu_btn:hover {
    transition: transfrom 0.3s ease, color 0.3s ease;
    transform: scale(1.3);
    cursor: pointer;
    color: #CD9900;
}

.close-btn {
    position: absolute;
    top: 53px;
    right: 53px;
    cursor: pointer;
    color: #0A0908;
    height: 16px;
    width: 16px;
}


#hamburger_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#inside_nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #EFE9E1;
    color: black;
    width: 25%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
    z-index: 1000;
}

#inside_nav.show {
    display: flex;
}

#inside_nav .close-btn {
    font-size: 28px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 20px;
}

#logo_nav{
    width:100%;
    height: auto;
}

.img_c {
    margin: 0 auto;
}

.main_txt {
    display: grid;
    place-items: center;
    margin: 0 auto;
}

#main_page {
    display: flex;
    position: relative;
    height: 120vh;
}

#the_exq {
    font-family: 'Rische-Bold';
    font-weight: 400;
    font-size: 8.5vw;
    position: absolute;
    color: #EFE9E1;
    translate: 0 -65px;
}

#rent {
    font-family: 'Rische-Bold';
    font-weight: 400;
    position: absolute;
    font-size: 33.5vw;
    translate: 0 -90px;

    color: #0A0908;

    text-shadow:
    1px 0 white, -1px 0 white,
    0 1px white, 0 -1px white;   
}

.btns {
    position: absolute;
    bottom: 20px;
    right: 20px;
    translate: 0 -130px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#get_in_touch_1 {
    display: none;
    position: absolute;
    left: 80%;
    top:50%;
    translate: 0 -50%;
    background: #CD9900;
    color: #0A0908;
    border: 0px;
    height: 40px;
    width: 180px;
    font-family: 'Helevetica';
    font-weight: 50;
    cursor: pointer;
    font-size: 15px;
}

#get_in_touch_1.show{
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    transition: transform 0.3s ease;
}

#get_in_touch_1:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#get_in_touch_2 {
    background: #CD9900;
    color: #0A0908;
    height: 8vh;
    width: 16vw;
    border: 0;
    font-family: 'Helvetica', sans-serif;
    font-weight: 70;
    font-size: 1.25vw;
}

#get_in_touch_2:hover {
    transform: scale(1.08);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#learn_more {
    background: #0A0908;
    color: #EFE9E1;
    border: 2px solid #EFE9E1;
    height: 8vh;
    width: 16vw;
    font-family: 'Helvetica', sans-serif;
    font-weight: 70;
    font-size: 1.25vw;
}

#learn_more:hover {
    transition: transform 0.3s ease;
    transform: scale(1.08);
    cursor: pointer;
}

#catalogue_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rische-semibold', sans-serif;
    font-weight: 400;
    color: #0A0908;
    font-size: 250px;
    text-shadow:
    1px 0 #EFE9E1, -1px 0 #EFE9E1,
    0 1px #EFE9E1, 0 -1px #EFE9E1;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-window {
    width: 900px;
    height: 550px; 
    overflow: hidden;
    margin: 0 10px;
}

.image-track {
    display: flex;
    transition: transform 0.5s ease;
}

.image-page {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    width: 900px;
    flex-shrink: 0;
}

.image-page img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #EFE9E1;
}

.nav-btn {
    translate: 0 -30px;
    font-size: 3rem;
    background-color: #0A0908;
    color: #EFE9E1;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.nav-btn.disabled {
    color: grey;
    cursor: not-allowed;
}

.footer-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #0A0908;
    color: #EFE9E1;
}

.logo-section {
    text-align: center;
    margin-bottom: 20px;
}

.logo-icon {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    object-fit: contain;

}

.logo-text {
    font-family: 'Rische-Bold', serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.divider {
    width: 24px;
    height: 4px;
    background-color: #191919;
    margin: 20px auto;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 155px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.nav-link {
    font-family: 'Helvetica-now', sans-serif;
    font-size: 16px;
    font-weight: 50;
    line-height: 25px;
    color: #EFE9E1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #CD9900;
    opacity: 0.8;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


.who-we-are-section {
    margin: 0px auto;
    color: #EFE9E1;
    position: relative;
}

#who-we-are {
    translate: 0 0px;
    margin: 0 auto;
}

.who-title {
    font-family: 'Rische-semibold', sans-serif;
    font-size: 240px;
    font-weight: normal;
    color: #0A0908;
    margin-bottom: 40px;
    text-align: center;
    translate: 0 -120px;
    text-shadow:
    0.5px 0 #EFE9E1, -0.5px 0 #EFE9E1,
    0 0.5px #EFE9E1, 0 -0.5px #EFE9E1;
}

.who-text {
    margin: 0;
    padding: 0;
    max-width: 790px;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    color: #EFE9E1;
}

.who-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-flow:row wrap;
    translate: 30px -170px;
}

.car-image {
    width: 500px;
    max-width: 50vw;
    height: 240px;
    object-fit: cover;
    object-position: center 60%;
    border: 1px solid #EFE9E1;
    overflow: hidden;
    translate: -30px 0;
    transition: transform 0.3s ease;
    }

.car-image:hover {
    transform: scale(1.05);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 9, 8, 0.8);
    backdrop-filter: blur(10px); 
    z-index: 900;
    display: none; 
}

#overlay.show {
    display: block;
}
