@font-face {
    font-family: 'Rische-Bold';
    src: url('Font/Rische\ Font\ Family/Rische-Bold.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Rische-light';
    src: url('Font/Rische\ Font\ Family/Rische-Light.woff');
    font-weight: 50;
}

@font-face {
    font-family: 'Helevetica';
    src: url('Font/Helevetica/Helvetica.ttf');
    font-weight: 70;
}

body{
    background: #0A0908;
    margin: none;
}

#nav_links {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    justify-content: center;
    font-family: 'Rische-light', sans-serif;
    font-weight: 50;
    font-size: 28px;
    translate: -25px 0;
    list-style-type: none;
}

li {
    padding-bottom: 50px;
    translate: 0 -50px;
}

li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 53px;
  /* bottom: -20px; */
  width: 100%;
  height: 2px;
  background-color: #CD9900;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

li:hover::after {
  transform: scaleX(1);
}

.scale_hover {
  display: inline-block;
  transition: transform 0.3s ease;
}

li:hover .scale_hover {
  transform: scale(1.1);
  cursor: pointer;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: center;
}
.close-btn:hover {
    transform: scale(2);
    color: #CD9900;
}

.nav-bar {
    height: 90px;
    background-color: #0A0908;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFE9E1;
    padding: 10px 20px; 
    margin: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #EFE9E180;
}

.menu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 97px;
    translate: 0 -50%;
    aspect-ratio: 1;
    height: 12px;
    width: 22px;
    scale: 2;
    transition: transfrom 0.3s ease, color 0.1s ease;
}

.menu_btn:hover {
    transform: scale(1.4);
    cursor: pointer;
    color: #CD9900;
}

.close-btn {
    position: absolute;
    top: 53px;
    right: 53px;
    cursor: pointer;
    color: #0A0908;
    height: 16px;
    width: 16px;
}


#hamburger_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#inside_nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #EFE9E1;
    color: black;
    width: 25%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
    z-index: 1000;
}

#inside_nav.show {
    display: flex;
}

#inside_nav .close-btn {
    font-size: 28px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 20px;
}

#logo_nav{
    width:100%;
    height: auto;
}

.img_c {
    margin: 0 auto;
    /*position: relative;
    height: 66.35px;
    top: 20px;
    left: 50%;
    translate: -50%;*/
}

.main_txt {
    display: grid;
    place-items: center;
    margin: 0 auto;
}

#main_page {
    display: flex;
    position: relative;
    height: 100vh;
}

#the_exq {
    font-family: 'Rische-Bold';
    font-weight: 400;
    font-size: 154.74px;
    position: absolute;
    color: #EFE9E1;
    translate: 0 -90px;
}

#rent {
    font-family: 'Rische-Bold';
    font-weight: 400;
    position: absolute;
    font-size: 610.05px;
    translate: 0 -90px;

    color: black;

    text-shadow:
    1px 0 #EFE9E1, -1px 0 #EFE9E1,
    0 1px #EFE9E1, 0 -1px #EFE9E1;    
}

.btns {
    position: absolute;
    bottom: 20px;
    right: 20px;
    translate: 0 -130px;
}

#get_in_touch_1 {
    display: none;
    position: absolute;
    left: 80%;
    top:50%;
    transform: translateY(-50%);
    background: #CD9900;
    color: #0A0908;
    border: 0px;
    height: 40px;
    width: 170px;
    font-family: 'Helevetica', sans-serif;
    font-weight: 50;
    cursor: pointer;
    font-size: 15px;
}

#get_in_touch_1.show{
    display: block;
}

#get_in_touch_2 {
    background: #CD9900;
    color: #0A0908;
    height: 70px;
    width: 306px;
    border: 0;
    font-family: 'Helevetica', sans-serif;
    font-weight: 70;
    font-size: 24px;
}

#learn_more {
    background: #0A0908;
    color: #EFE9E1;
    border: 1.7px solid #EFE9E1;
    height: 70px;
    width: 306px;
    font-family: 'Helevetica', sans-serif;
    font-weight: 70;
    font-size: 24px;
}